/*Q1 サイズ変更*/
.q1-box{
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: #f00;
}

@media screen and (max-width:959px) {
  .q1-box{
    width: 200px;
    height: 200px;
  }
}

/*Q2 色変更*/
.q2-box{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #f00;
}

@media screen and (max-width: 959px) {
  .q2-box{
    background-color: #007bff;
  }
}

/*Q3 margin値の変更*/
.q3-blue{
  width: 300px;
  height: 300px;
  margin-right: 150px;
  background-color: #0008ff;
  float: left;
}
.q3-green{
  width: 300px;
  height: 300px;
  background-color: #22ff00;
  float: left;
}
.q3-wrap{
  width: 750px;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width:959px) {
  .q3-blue{
    margin-right: 50px;
  }
  .q3-wrap{
    width: 650px;
    margin: 0 auto;
  }
}

/*Q4 floatの解除*/
.q4-red{
  width: 300px;
  height: 300px;
  background-color: #f00;
  float: left;
}
.q4-blue{
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  float: left;
}
.q4-wrap{
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width:959px) {
  .q4-red{
    float: none;
  }
  .q4-green{
    float: none;
  }
}

/*Q5 flexboxの入れ替え(逆順)*/
.q5-row-reverse{
  display: flex;
  justify-content: center;
  
}
.q5-red-row-reverse{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #f00;
}
.q5-blue-row-reverse{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #0008ff;
}
.q5-orange-row-reverse{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #ff8400;
}

@media screen and (max-width:959px) {
  .q5-row-reverse{
    flex-direction: row-reverse;
  }
  .q5-red-row-reverse{
    text-align: center;
    line-height: 300px;
  }
  .q5-blue-row-reverse{
    text-align: center;
    line-height: 300px;
  }
  .q5-orange-row-reverse{
    text-align: center;
    line-height: 300px;
  }
}

/*Q6 flexboxの入れ替え(指定)*/
.q6-flexbox{
  display: flex;
  justify-content: center;
}
.q6-green-flexbox{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #00ff51;
}
.q6-yellow-flexbox{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #d4ff00;
}
.q6-purple-flexbox{
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #ff00e1;
}
@media screen and (max-width:959px) {
  .q6-green-flexbox{
    order: 2;
  }
  .q6-yellow-flexbox{
    order: 3;
  }
  .q6-purple-flexbox{
    order: 1;
  }
}

/*Q7 要素の表示・非表示*/
.q7-none{
  display: flex;
  justify-content: center;
}
.q7-red-none{
  width: 300px;
  height: 300px;
  background-color: #f00;
}
.q7-blue-none{
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  display: none;
}
.q7-green-none{
  width: 300px;
  height: 300px;
  background-color: #00ff51;
}
@media screen and (max-width:959px){
  .q7-red-none{
    display: none;
  }
  .q7-blue-none{
    display: block;
  }
}